<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.induk.bucketlist.repository.BucketItemRepository">
    <resultMap id="itemResult" type="BucketItem">
        <id property="idx" column="idx" />
        <result property="category_idx" column="category_idx" />
        <result property="member_idx" column="member_idx" />
        <result property="title" column="title" />
        <result property="status" column="status" />
        <result property="created_at" column="created_at" />
        <result property="src" column="src" />
        <association property="category" column="category_idx" javaType="Category">
            <result property="name" column="category_name" />
            <result property="src" column="category_src" />
        </association>
    </resultMap>

    <select id="findAll" resultType="BucketItem" resultMap="itemResult">
        select bi.*,
               c.name as category_name,
               c.src as category_name
        from bucket_item bi
        left join category c on bi.category_idx = c.idx
        order by bi.idx
    </select>

    <select id="findByIdx" parameterType="Long" resultType="BucketItem" resultMap="itemResult">
        select bi.*,
               c.name as category_name,
               c.src as category_src
        from bucket_item bi
        left join category c on bi.category_idx = c.idx
        where bi.member_idx = #{idx}
        order by bi.idx
    </select>

    <select id="findByTitle" parameterType="Long" resultType="BucketItem" resultMap="itemResult">
        select * from bucket_item where title like concat('%', #{title}, '%')
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="idx" parameterType="BucketItem">
        insert into bucket_item(member_idx, category_idx, title, status, src, created_at)
        values (#{member_idx}, #{category_idx}, #{title}, #{status}, #{src}, #{created_at})
    </insert>

    <update id="update" parameterType="BucketItem">
        update bucket_item
        set member_idx=#{member_idx}, category_idx=#{category_idx}, title=#{title}, status=#{status}, src=#{src}, created_at=#{created_at}
        where idx=#{idx}
    </update>

    <delete id="delete" parameterType="Long">
        delete from bucket_item where idx = #{idx};
    </delete>

</mapper>
