<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.induk.bucketlist.repository.BucketlistRepository">
    <resultMap id="listResult" type="Bucket_list">
        <id property="idx" column="idx" />
        <result property="category_idx" column="category_idx" />
        <result property="title" column="title" />
        <result property="start_date" column="start_date" />
        <result property="completion_date" column="completion_date" />
        <association property="category" column="category_idx" javaType="Category">
            <result property="name" column="category_name" />
            <result property="scr" column="category_scr" />
        </association>
    </resultMap>

    <select id="findAll" resultType="Bucket_list" resultMap="listResult">
        select bl.*,
               c.name as category_name,
               c.scr as category_scr
        from bucket_list bl
        left join category c on bl.category_idx = c.idx
        order by bl.idx
    </select>

    <select id="findByIdx" parameterType="Long" resultType="Bucket_list" resultMap="listResult">
        select * from bucket_list where idx = #{idx}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="idx" parameterType="Bucket_list">
        insert into bucket_list(category_idx, title, start_date, completion_date)
        values (#{category_idx}, #{title}, #{start_date}, #{completion_date})
    </insert>

    <update id="update" parameterType="Bucket_list">
        update bucket_list
        set category_idx=#{category_idx}, title=#{title}, start_date=#{start_date}, completion_date=#{completion_date}
        where idx=#{idx}
    </update>

    <delete id="delete" parameterType="Long">
        delete from bucket_list where idx = #{idx};
    </delete>

</mapper>
