<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/dist/output.css" />
    <!-- <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.6/dist/flowbite.min.css" /> -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <title>모달</title>
</head>

<body>
    <div x-data="{ modelOpen: false }">
        <button @click="modelOpen =!modelOpen"
            class=" p-2 rounded-lg transition-colors duration-200 transform bg-mainGreen2-100 hover:bg-mainGreen2-200 text-white">
            <i class="fa-solid fa-plus"></i>
            새로운 버킷 리스트 추가하기
        </button>

        <div x-show="modelOpen" class="fixed inset-0 z-50 overflow-y-auto" aria-labelledby="modal-title" role="dialog"
            aria-modal="true">
            <div class="flex items-end justify-center min-h-screen px-4 text-center md:items-center sm:block sm:p-0">
                <div x-cloak @click="modelOpen = false" x-show="modelOpen"
                    x-transition:enter="transition ease-out duration-300 transform" x-transition:enter-start="opacity-0"
                    x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-200 transform"
                    x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
                    class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-40" aria-hidden="true"></div>

                <div x-cloak x-show="modelOpen" x-transition:enter="transition ease-out duration-300 transform"
                    x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                    x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                    x-transition:leave="transition ease-in duration-200 transform"
                    x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                    x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                    class="inline-block w-full max-w-xl p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-2xl">
                    <div class="flex items-center justify-between space-x-4">
                        <h1 class="text-xl font-medium text-gray-800 "> 🪣새 버킷리스트 추가하기</h1>

                        <button @click="modelOpen = false" class="text-gray-600 focus:outline-none hover:text-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </button>
                    </div>

                    <p class="mt-2 text-sm text-gray-500 ">
                        이번 생에는 꼭 이루고 싶은 나의 버킷리스트를 작성해보세요.
                    </p>

                    <form class="mt-5">
                        <div>
                            <label for="bucket-title"
                                class="block text-sm text-gray-700 capitalize dark:text-gray-200">제목</label>
                            <input placeholder="Vanilla JS 프로젝트 개발하기" type="text"
                                class="block w-full px-3 py-2 mt-2 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-mainGreen3 focus:outline-none focus:ring focus:ring-mainGreen3 focus:ring-opacity-40">
                        </div>

                        <div class="mt-4">
                            <label for="bucket-category"
                                class="block text-sm text-gray-700 capitalize dark:text-gray-200">카테고리</label>
                            <select
                                class="block w-full px-3 py-2 mt-2 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-mainGreen3 focus:outline-none focus:ring focus:ring-mainGreen3 focus:ring-opacity-40">
                                <option>✈️ 여행</option>
                                <option>⛷️ 도전</option>
                                <option>💐 경험</option>
                                <option>⚒️ 기술</option>
                                <option>🎓 교육</option>
                            </select>
                        </div>

                        <div class="mt-4">
                            <label for="bucket-image"
                                class="block text-sm text-gray-700 capitalize dark:text-gray-200">대표 이미지</label>
                            <input
                                class="block w-full px-3 py-2 mt-2 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-mainGreen3 focus:outline-none focus:ring focus:ring-mainGreen3 focus:ring-opacity-40"
                                id="bucket-image" type="file">
                        </div>

                        <div class="flex justify-end mt-6">
                            <button type="button"
                                class="px-3 py-2 text-sm tracking-wide text-white capitalize transition-colors duration-200 transform bg-mainGreen2-100 rounded-md hover:bg-mainGreen2-200 focus:outline-none focus:bg-mainGreen2-200 focus:ring focus:ring-mainGreen3 focus:ring-opacity-50">
                                추가
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/flowbite@1.4.6/dist/flowbite.js"></script>
</body>

</html>